<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/go"
        android:label="Напоминания"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YES"
        tools:targetApi="31">
        <activity
            android:name=".SeeActivity"
            android:exported="false"
            android:label="@string/title_activity_see2"
            android:theme="@style/Theme.YES.NoActionBar" />
        <activity
            android:name=".LinkActivity"
            android:exported="false" />
        <activity
            android:name=".CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="false" />
        <activity
            android:name=".MapActivity2"
            android:exported="false" />
        <activity
            android:name=".MapActivity"
            android:exported="false" />
        <activity
            android:name=".UsefulLinks"
            android:exported="false" />
        <activity
            android:name=".NotificationView"
            android:exported="false"
            android:label="@string/title_activity_notification_view"
            android:theme="@style/Theme.YES.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>